h3{
	margin: -250px 0px 0px 0px;
}

#preloader{
	background: #000 url(loaderr.gif) no-repeat center center;
	background-size: 5%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.pdf{
	width:30px;
	height:30px;
}
