.ronde {
	border-radius: 50%;
	width: 150px;
	height: 200px;
	border: 3px solid #555;
}

.ronde1 {
	width: 293px;
	height: 146px;
}

.ronde2 {
	width: 200px;
	height: 59px
}

.ronde3 {
	width: 247px;
	height: 255px;
}

.ronde4{
	border-radius: 50%;
	width: 150px;
	height: 200px;
	border: 3px solid #555;
	position:relative;
	top:100px;
	left:100px;
}

.button{
	padding:0;
	margin:0;
	width:250px;
	height:204px;
	text-align: center;
	position:relative;
	border:3px solid #555;
	border-radius:5px;
	transition-duration:.60s;
	font-weight:900;
	
}

.button1{
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	background:url(cybersecurite.jpg);
	background-size: cover;
	color:white;
	top:-144px;
	left:-18px;
	
}

.button1:hover{
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	transform: scale(.95);
}

.button3{
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	background:url(cable.jpg);
	background-size: cover;
	color:black;
	top:-144px;
	left:18px;
	
}

.button3:hover{
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	transform: scale(.95);
}

.button2{
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	background:url(présenterinternet.jpg);
	background-size: cover;
	top:-144px;
	left:54px;
	color:black;
}

.button2:hover{
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	transform: scale(.95);
}


.ligne{
	width:903px;
	height:200px;
	position:relative;
	top:-133px;
	left:198px;
}

.annee1{
	color:blue;
}
