.ronde {
	border-radius: 50%;
	width: 150px;
	height: 200px;
	border: 3px solid #555;
}

.ronde1 {
	width: 293px;
	height: 146px;
}

.ronde2 {
	width: 200px;
	height: 59px
}

.ronde3 {
	width: 305px;
	height: 310px;
	margin: -100px 0px 0px 30px;
}

.ronde4{
	border-radius: 50%;
	width: 150px;
	height: 200px;
	border: 3px solid #555;
	position:relative;
	top:323px;
	left:83px;
}

.wrapper{
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  width: 400px;
  height:250px;
  text-align: center;
  line-height: 300%;
}
.wrapper .text{
  font-size: 35px;
  font-weight: 600;
}
.wrapper p{
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
.wrapper .btns{
  display: flex;
  margin: 30px 0 20px 0;
}
.btns a{
  position: relative;
  margin: 0 60px;
  height: 60px;
  width: 200px;
  display: block;
  line-height: 60px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  align-items:center;
  justify-content:center;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  float: left;
  cursor:pointer;
}
.btns a:first-child{
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
}
.btns a:last-child{
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}
.btns a > span{
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: ripples 0.6s linear infinite;
}
@keyframes ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.btns:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

btns:hover{
	transform: translate(3px);
	box-shadow: 0 6px #2980b9;
}



.wrapper1{
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  width: 400px;
  height:250px;
  text-align: center;
  line-height: 300%;
  margin: -250px 0px 0px 550px;
}
.wrapper1 .text{
  font-size: 35px;
  font-weight: 600;
}
.wrapper1 p{
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
.wrapper1 .btns{
  display: flex;
  margin: 30px 0 20px 0;
}

.wrapper2{
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  width: 400px;
  height:250px;
  text-align: center;
  line-height: 300%;
  margin: 100px 0px 0px 0px;
}
.wrapper2 .text{
  font-size: 35px;
  font-weight: 600;
}
.wrapper2 p{
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
.wrapper2 .btns{
  display: flex;
  margin: 30px 0 20px 0;
}



.ligne{
	width:903px;
	height:200px;
	position:relative;
	top:-342px;
	left:118px;
}

.annee1{
	color:#0D25AB;
	top:-211px;
	left:-34px;
	position:relative;
}

.lignen{
	width:360px;
	height:200px;
	position:relative;
	top:-368px;
	left:645px;
}

.lignea{
	width:360px;
	height:200px;
	position:relative;
	top:-94px;
	left:18px;
}


.projetc{
	top:-221px;
	left:4px;
	width:290px;
	height:200px;
	position:relative;
}

.projet{
	text-align:center;
	margin: 0px 0px 0px 300px;
}

.textlink{
	color:black;
}

#preloader{
	background: #000 url(loaderr.gif) no-repeat center center;
	background-size: 5%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.wrapper4{
  height: 50px;
  width: 210px;
  position: relative;
  border-radius: 10px;
  cursor: default;
  animation: animate 1.5s linear infinite;
  margin: 0px 0px 0px 1675px
}
.wrapper4 .display,
.wrapper4 span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper4 .display{
  z-index: 999;
  height: 35px;
  width: 200px;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
}
.display #time{
  line-height: 35px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
  100%{
    filter: hue-rotate(360deg);
  }
}
.wrapper4 span{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}
.wrapper4 span:first-child{
  filter: blur(7px);
}
.wrapper4 span:last-child{
  filter: blur(20px);
}

.all{
	width:50px;
	height:50px;
}
